* {
  box-sizing: border-box;
  margin: 0;
}
// Variables
:root {
  --primary: hsl(271, 80%, 38%);
  --secondary: hsl(268, 88%, 25%);
  --accent: hsl(293, 100%, 35%);
  --color-bg-primary: hsl(250, 18%, 7%);
  --color-bg-secondary: hsl(255, 18%, 10%);
  --color-bg-surface: hsl(255, 24.15%, 17.88%);
  --color-text-primary: hsl(243, 76%, 95%);
  --color-text-secondary: hsl(243, 76%, 95%);

  --warning: hsl(0, 100%, 40%);
  --success: hsl(125, 100%, 35%);

  --border-radius-primary: 0.8rem;
  --border-radius-secondary: 1.2rem;

  // Font size
  --font-scale: 1.25;

  --font-size-xs: 1.2rem;
  --font-size-s: 1.4rem;
  --font-size-base: 1.6rem; //base
  --font-size-m: 1.8rem; //subheading
  --font-size-l: 2rem; //h4
  --font-size-xl: 2.4rem; //h3
  --font-size-2xl: 2.8rem; //h2
  --font-size-3xl: 3.6rem; //h1

  // Font style
  --font-family-base: "Lato", sans-serif;
}
html {
  font-size: 62.5%;
}
html,
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: var(--font-size-3xl);
}
h2 {
  font-size: var(--font-size-2xl);
}
h3 {
  font-size: var(--font-size-xl);
}
h4 {
  font-size: var(--font-size-l);
}

// Custom
a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: var(--font-size-base);
}
.button {
  display: flex;
  gap: 1rem;
  &__control {
    background-color: var(--color-bg-primary);
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius-primary);
    border: none;
    &:hover {
      background-color: var(--color-bg-surface);
    }
  }
}

.layout {
  &__box {
    border-radius: var(--border-radius-primary);
    background-color: var(--color-bg-secondary);
    padding: 1rem;
    width: 100%;
  }
  &__row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
}

.mt-1 {
  margin-top: 1rem;
}
.d-none {
  display: none !important;
}
