@use "./styles/material-theme.scss";

* {
  box-sizing: border-box;
  margin: 0;
}
// Variables
:root {
  --primary: hsl(271, 80%, 38%);
  --secondary: hsl(268, 88%, 25%);
  --accent: hsl(293, 100%, 35%);
  // --color-bg-primary: hsl(250, 18%, 7%);
  // --color-bg-primary: hsl(262, 43%, 16%);
  --color-bg-primary: #020104;
  --color-bg-secondary: hsl(263, 17%, 9%);
  --color-bg-surface: hsl(255, 24.15%, 17.88%);
  --color-text-primary: hsl(243, 76%, 95%);
  --color-text-secondary: hsl(243, 76%, 95%);

  --warning: hsl(0, 100%, 40%);
  --warning-hover: hsl(0, 100%, 50%);
  --success: hsl(125, 100%, 30%);
  --success-hover: hsl(125, 100%, 40%);
  --border-radius-primary: 0.8rem;
  --border-radius-secondary: 1.2rem;

  --max-width: 1920px;

  // Font size
  --font-scale: 1.25;

  --font-size-xs: 1.2rem;
  --font-size-s: 1.4rem;
  --font-size-base: 1.6rem; //base
  --font-size-m: 1.8rem; //subheading
  --font-size-l: 2rem; //h4
  --font-size-xl: 2.4rem; //h3
  --font-size-2xl: 2.8rem; //h2
  --font-size-3xl: 3.6rem; //h1

  // Font style
  --font-family-base: "Lato", sans-serif;
}

$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
$xlDesktop: 1536px;

// miksiny
@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin xlDesktop {
  @media (min-width: $xlDesktop) {
    @content;
  }
}

html {
  font-size: 62.5%;
}
html,
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-style: normal;
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
body {
  font-size: var(--font-size-base);
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
  }
  .layout {
    z-index: 1;
    position: relative;
  }
}
h1 {
  font-size: var(--font-size-3xl);
}
h2 {
  font-size: var(--font-size-2xl);
}
h3 {
  font-size: var(--font-size-xl);
}
h4 {
  font-size: var(--font-size-l);
}

// Custom
a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: var(--font-size-m);
}
.button {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
  gap: 1rem;
  &__control {
    background-color: var(--color-bg-secondary);
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius-primary);
    border: none;
    transition: 0.2s ease-in background;
    width: 100%;
    &:hover {
      background-color: var(--color-bg-surface);
    }
    &--warning {
      background-color: var(--warning);
      &:hover {
        background-color: var(--warning-hover);
      }
    }
    &--success {
      background-color: var(--success);
      &:hover {
        background-color: var(--success-hover);
      }
    }
  }
}

.layout {
  &__box {
    border-radius: var(--border-radius-primary);
    background-color: var(--color-bg-secondary);
    padding: 2rem;
    width: 100%;
  }
  &__row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  &__header {
    margin-bottom: 0.5rem;
  }
}

.mt-1 {
  margin-top: 1rem;
}
.d-none {
  display: none !important;
}

// inputy
.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  @include tablet {
    width: max-content;
  }
  &:hover,
  &:focus,
  &:active {
    border-color: hsl(255deg 19.79% 42.19%);
  }
  &__label {
    position: absolute;
    color: var(--color-bg-surface);
    left: 2rem;
    top: 1.2rem;
    color: #fff;
    transition: 0.2s ease-in transform, 0.2s ease-in color,
      0.2s ease-in font-size;
    font-size: var(--font-size-base);
  }
  &__input {
    border: none;
    height: 5rem;
    border: 0.2rem solid hsl(250deg 20.58% 13.84%);
    background-color: hsl(255deg 17.54% 17.54%);
    color: #fff;
    border-radius: var(--border-radius-primary);
    padding: 1.2rem 1.6rem 0.2rem 1.6rem;
    outline: none;
    transition: 0.2s ease-in border-color;
    font-size: var(--font-size-base);
  }
  &__error {
    font-size: var(--font-size-xs);
    color: var(--warning);
  }
  &:hover,
  &:has(input:focus),
  &:has(input:active) {
    label {
      font-size: var(--font-size-xs);
      transform: translate(-14px, -10px);
    }
  }
  &.filled {
    label {
      color: var(--accent);
      font-size: var(--font-size-xs);
      transform: translate(-14px, -10px);
    }
  }
}
.input-field {
  &--checkbox {
    flex-direction: row-reverse;
    height: 2rem;
    gap: 1rem;
    width: max-content;
    align-items: center;
    label {
      position: initial;
    }
    input {
      width: 2rem;
    }
    &:hover,
    &:has(input:focus),
    &:has(input:active) {
      label {
        font-size: var(--font-size-base);
        transform: none;
      }
    }
    &.filled {
      label {
        color: var(--accent);
        font-size: var(--font-size-base);
        transform: none;
      }
    }
  }
}
.input-field {
  &--textarea {
    width: 100%;
    textarea {
      height: initial;
      width: 100%;
      // padding: 1.6rem 1.6rem 0.2rem 1.6rem !important;
    }
  }
}
// Nowe UI/UX
.box {
  background: rgba(74, 9, 121, 0.2);
  border-radius: 1.6rem;
  backdrop-filter: blur(0.8rem);
  -webkit-backdrop-filter: blur(0.8rem);
  border: 1px solid rgba(100, 26, 217, 0.2);
  position: relative;
}
