* {
  box-sizing: border-box;
  margin: 0;
}
// Variables
:root {
  --primary: hsl(271, 80%, 38%);
  --secondary: hsl(268, 88%, 25%);
  --accent: hsl(293, 100%, 35%);
  --color-bg-primary: hsl(250, 18%, 7%);
  --color-bg-secondary: hsl(255, 18%, 10%);
  --color-bg-surface: hsl(255, 24.15%, 17.88%);
  --color-text-primary: hsl(243, 76%, 95%);
  --color-text-secondary: hsl(243, 76%, 95%);

  --warning: hsl(0, 100%, 25%);
  --warning-hover: hsl(0, 100%, 35%);
  --success: hsl(125, 100%, 35%);

  --border-radius-primary: 8px;
  --border-radius-secondary: 12px;

  /* Font sizes */
  --font-stacle: 1;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-base: 16px; //base
  --font-size-m: 18px; //subheading
  --font-size-l: 20px; //h4
  --font-size-xl: 24px; //h3
  --font-size-2xl: 28px; //h2
  --font-size-3xl: 36px; //h1

  // Font style
  --font-family-base: "Lato", sans-serif;
}

html,
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-style: normal;
}

// Custom
a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button.btn {
  background-color: var(--color-bg-primary);
  padding: 10px 12px;
  border-radius: var(--border-radius-primary);
  border: none;
  margin-top: 1rem;
  &:hover {
    background-color: var(--color-bg-surface);
  }
}
.layout {
  &__box {
    border-radius: var(--border-radius-primary);
    background-color: var(--color-bg-secondary);
    padding: 1rem;
    width: 100%;
  }
  &__row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  // &__header {
  //   margin-bottom: 2rem;
  // }
}
