<div class="layout">
  <div class="auth box">
    <h1 class="auth__header">
      {{ view === 'login' ? 'Logowanie' : 'Rejestracja' }}
    </h1>
    @if(view === "login"){
    <app-login></app-login>
    }@else {
    <app-register (view)="[handleView($event)]"></app-register>
    }
    <div class="auth__info">
      <span>{{ view === 'login' ? 'Nie masz konta?' : 'Masz konto?' }}</span>
      <button (click)="handleView(view === 'login' ? 'register' : 'login')">
        {{ view === 'login' ? 'Zarejestuj się' : 'Zaloguj się' }}
      </button>
    </div>
  </div>
</div>
