@use "../../../styles.scss" as style;

.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0 auto;
  max-width: var(--max-width);
  &__sidebar {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    height: max-content;
    @include style.tablet {
      position: sticky;
      top: 0;
      bottom: initial;
      left: initial;
      transform: initial;
      padding: 2.4rem 1.2rem 2.4rem 2.4rem;
    }
  }
  &__content {
    width: 100%;
    padding: 1.2rem;
    margin-bottom: 8.5rem;
    @include style.tablet {
      padding: 2.4rem 2.4rem 2.4rem 1.2rem;
      margin-bottom: 0;
    }
  }
}
