.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0 auto;
  max-width: var(--max-width);
  &__sidebar {
    padding: 2.4rem 1.2rem 2.4rem 2.4rem;
    // background-color: var(--color-bg-secondary);
  }
  &__content {
    padding: 2.4rem 2.4rem 2.4rem 1.2rem;
    width: 100%;
  }
}
