.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0 auto;
  max-width: var(--max-width);
  &__sidebar {
    padding: 0.5rem;
    // background-color: var(--color-bg-secondary);
  }
  &__content {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    width: 100%;
  }
}
