<div class="sidebar">
  <a
    routerLink="/panel"
    routerLinkActive="sidebar__link--active"
    class="sidebar__link"
    ><i class="fa-regular fa-house"></i
  ></a>
  <a
    routerLink="/trening"
    routerLinkActive="sidebar__link--active"
    class="sidebar__link"
    ><i class="fa-solid fa-person-running"></i
  ></a>
  <a
    routerLink="/raport"
    routerLinkActive="sidebar__link--active"
    class="sidebar__link"
    ><i class="fa-regular fa-calendar-days"></i
  ></a>
  <a
    routerLink="/kreator-planu"
    routerLinkActive="sidebar__link--active"
    class="sidebar__link"
    ><i class="fa-solid fa-plus"></i
  ></a>
</div>
