<div class="layout__row --top">
  <div class="layout__column">
    <div class="layout__header">
      <h2 class="layout__header--name">Ustawienia</h2>
    </div>
  </div>
  <div class="settings box">
    <form [formGroup]="emailForm">
      <div class="settings__box">
        <div class="ui-field">
          <input
            class="ui-field__input"
            placeholder="Email"
            formControlName="email"
          />
          @if (emailForm.get('email')?.errors?.['required'] &&
          emailForm.get('email')?.touched) {
          <small class="ui-field__error"> Email jest wymagany </small>
          } @if (emailForm.get('email')?.errors?.['pattern']) {
          <small class="ui-field__error">Adres email jest niepoprawny</small> }
        </div>
        @if(emailForm.get('email')?.dirty && originalEmail !==
        emailForm.get('email')?.value && emailForm.get('email')?.value &&
        !emailForm.get('email')?.errors?.['pattern']) {
        <button
          class="ui-btn ui-btn--primary"
          [class.ui-btn--disabled]="disabledEmail"
          (click)="updateEmail()"
        >
          Aktualizuj
        </button>
        }
      </div>
    </form>
    @if(codeButton) {
    <div class="settings__box settings__box--code">
      <button
        class="ui-btn ui-btn--secondary"
        style="width: 100%"
        (click)="confirmCode()"
      >
        Potwierdź kod
      </button>
    </div>
    }
    <div class="settings__box">
      <div class="ui-field">
        <input
          class="ui-field__input ui-field__input--disabled"
          placeholder="Login"
          [value]="login"
          disabled
        />
      </div>
    </div>
    <form [formGroup]="passwordForm">
      <div class="settings__box">
        <div class="ui-field">
          <input
            type="password"
            class="ui-field__input"
            placeholder="Hasło"
            formControlName="password"
          />
          @if (passwordForm.get('password')?.errors?.['required'] &&
          passwordForm.get('password')?.touched) {
          <small class="ui-field__error"> Nowe hasło jest wymagane </small>
          }
        </div>
      </div>
      <div class="settings__box">
        <div class="ui-field">
          <input
            type="password"
            class="ui-field__input"
            placeholder="Nowe hasło"
            formControlName="newPassword"
          />
          @if (passwordForm.get('newPassword')?.errors?.['required'] &&
          passwordForm.get('newPassword')?.touched) {
          <small class="ui-field__error"> Nowe hasło jest wymagane </small>
          } @if (passwordForm.get('newPassword')?.errors?.['pattern']) {
          <small class="ui-field__error">
            Hasło musi mieć min. 8 znaków, 1 dużą literę, 1 cyfrę i 1 znak
            specjalny
          </small>
          }
        </div>
        <button class="ui-btn ui-btn--primary" (click)="updatePassword()">
          Aktualizuj
        </button>
      </div>
    </form>
  </div>
</div>
