@use "../../../../../../styles.scss" as style;

.stats {
  &__title {
    margin-bottom: 1rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    @include style.mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-bg-surface);
    border: none;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      left: -20%;
      bottom: -20%;
      width: 100%;
      height: 100%;
      background: radial-gradient(
        circle at bottom left,
        rgba(150, 80, 235, 0.6) 0%,
        rgba(150, 80, 235, 0.25) 30%,
        transparent 70%
      );
      filter: blur(40px);
      pointer-events: none;
    }
    &--count {
      font-size: var(--font-size-xl);
      i {
        font-size: var(--font-size-l);
      }
    }
    &--name {
      font-size: var(--font-size-base);
      color: var(--color-text-secondary);
    }
  }
}
