.calendar {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    h3 {
      text-transform: capitalize;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.7rem;
    width: 4.7rem;
  }
  &__weeks {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    margin-bottom: 1rem;
    &--day {
      text-align: center;
      font-size: var(--font-size-base);
      opacity: 0.6;
    }
  }
  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
  }
  &__day {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: var(--color-btn);
    &--opacity {
      opacity: 0.35;
    }
    &--workout {
      background-color: var(--primary);
    }
    &--today {
      background-color: var(--accent);
    }
  }
}
