@use "../../../../styles.scss" as style;

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__info {
    display: flex;
    flex-direction: column;
    h3 {
      padding-bottom: 0.6rem;
    }
    div {
      padding-bottom: 0.2rem;
    }
  }
  &__buttons {
    display: grid;
    grid-template-columns: 4.8rem 4.8rem 2fr;
    gap: 1rem;
    height: 4.8rem;
    // button {
    //   background: #4a097933;
    //   border-radius: 16px;
    //   backdrop-filter: blur(0.8rem);
    //   -webkit-backdrop-filter: blur(0.8rem);
    //   border: 1px solid #641ad933;
    //   position: relative;
    //   overflow: hidden;
    //   &::before {
    //     content: "";
    //     position: absolute;
    //     left: 50%;
    //     bottom: -0.4rem;
    //     width: 100%;
    //     height: 0rem;
    //     transform: translateX(-50%);
    //     box-shadow:
    //       rgb(128, 41, 221) 0px 0px 5px,
    //       rgb(150, 80, 235) 0px 0px 15px,
    //       rgb(170, 120, 245) 0px 0px 30px,
    //       rgb(190, 160, 255) 0px 0px 60px;
    //     background: rgb(90, 30, 160);
    //     transition: 0.2s ease-in height;
    //   }
    //   &:hover {
    //     &::before {
    //       height: 0.4rem;
    //     }
    //   }
    // }
    .button {
      &__control {
        &--warning {
          background-color: #79090933 !important;
          border: 1px solid #79090933 !important;
          &::before {
            box-shadow:
              rgb(121, 9, 0) 0px 0px 5px,
              rgb(150, 40, 30) 0px 0px 15px,
              rgb(180, 80, 70) 0px 0px 30px,
              rgb(210, 130, 120) 0px 0px 60px;
            background-color: #790909 !important;
          }
          &:hover {
            background-color: var(--warning-hover);
          }
        }
        &--start {
          i {
            transition: 0.2s ease-in transform;
          }
          &:hover {
            i {
              transform: translateX(0.4rem);
            }
          }
        }
      }
    }
  }
  &__badge {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    border: none;
    background: transparent;
    &:hover {
      i {
        &::after {
          background: #ffff00;
          box-shadow: rgba(255, 255, 0, 0.4) 0px 0px 12px 8px;
        }
      }
    }
    &--active {
      i {
        color: #ffff00 !important;
        &::after {
          background: #ffff00;
          box-shadow: rgba(255, 255, 0, 0.4) 0px 0px 12px 8px;
        }
      }
    }
    i {
      color: rgba(74, 9, 121);
      width: 2.4rem;
      height: 2.4rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5rem;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        width: 0rem;
        height: 0rem;
        transform: translateX(-50%);
        transition: 0.2s ease-in height;
        z-index: -1;
      }
    }
  }
}
.layout__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &--btn {
    background: rgba(74, 9, 121, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(0.8rem);
    -webkit-backdrop-filter: blur(0.8rem);
    border: 1px solid rgba(100, 26, 217, 0.2);
    position: relative;
    overflow: hidden;
    height: 4.2rem;
    width: 4.2rem;
  }
}
.grid-wrapper {
  display: flex;
  flex-direction: column;
  .list__header {
    margin: 1rem 0 1rem 0;
  }
}
