@use "../../../../styles.scss" as style;

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  @include style.tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include style.laptop {
    grid-template-columns: repeat(3, 1fr);
  }
  @include style.desktop {
    grid-template-columns: repeat(4, 1fr);
  }
  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__info {
    display: flex;
    flex-direction: column;
    h3 {
      padding-bottom: 0.6rem;
    }
    div {
      padding-bottom: 0.2rem;
    }
  }
  &__buttons {
    display: grid;
    grid-template-columns: 4.8rem 4.8rem 2fr;
    gap: 1rem;
    height: 4.8rem;
    margin-top: 1rem;
    button {
      padding: 0;
    }
  }
  &__badge {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    border: none;
    background: transparent;
    &:hover {
      i {
        &::after {
          background: #ffff00;
          box-shadow: rgba(255, 255, 0, 0.4) 0px 0px 12px 8px;
        }
      }
    }
    &--active {
      i {
        color: #ffff00 !important;
        &::after {
          background: #ffff00;
          box-shadow: rgba(255, 255, 0, 0.4) 0px 0px 12px 8px;
        }
      }
    }
    i {
      color: var(--primary);
      width: 2.4rem;
      height: 2.4rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5rem;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        width: 0rem;
        height: 0rem;
        transform: translateX(-50%);
        transition: 0.2s ease-in height;
        z-index: -1;
      }
    }
  }
}
.layout__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &--btn {
    background: rgba(74, 9, 121, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(0.8rem);
    -webkit-backdrop-filter: blur(0.8rem);
    border: 1px solid rgba(100, 26, 217, 0.2);
    position: relative;
    overflow: hidden;
    height: 4.2rem;
    width: 4.2rem;
  }
}
.grid-wrapper {
  display: flex;
  flex-direction: column;
  .list__header {
    margin: 2rem auto 1rem auto;
    @include style.tablet {
      margin: 2rem 0 1rem 0;
    }
  }
}
.layout__header + .grid-wrapper {
  .list__header {
    margin: 0 auto 1rem auto;
    @include style.tablet {
      margin: 0 0 1rem 0;
    }
  }
}
.training-active {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include style.laptop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.workout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  &__empty {
    font-size: var(--font-size-m);
    font-weight: 600;
    color: var(--color-text-secondary);
    text-align: center;
  }
}
