@use "../../../../../../styles.scss" as style;

.workout {
  display: flex;
  flex-direction: column;
  &__title {
    text-align: center;
    margin-bottom: 1rem;
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__name {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: var(--font-size-2xl);
  }
  &__info {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-m);
    span {
      font-weight: 600;
    }
  }
  &__time {
    text-align: center;
    font-size: var(--font-size-xl);
    span {
      color: var(--success);
    }
    &--last {
      span {
        color: hsl(42.06deg 100% 40%);
      }
    }
    &--stop {
      span {
        color: var(--warning);
      }
    }
  }
  // REPY
  &__reps {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  &__rep {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-surface);
    transition: 0.2s ease-in background;
    font-size: var(--font-size-m);
    &--current {
      background-color: var(--accent);
    }
    &--done {
      background-color: var(--primary);
      opacity: 0.5;
    }
  }
  &__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "topLeft topRight"
      "bottom bottom";

    gap: 1rem;

    & > :nth-child(1) {
      grid-area: bottom;
    }

    & > :nth-child(2) {
      grid-area: topLeft;
    }

    & > :nth-child(3) {
      grid-area: topRight;
    }
  }
}
