.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--color-bg-secondary);
  cursor: pointer;
  font-size: var(--font-size-base);
  i {
    font-size: var(--font-size-s);
  }

  &:hover {
    // background-color: var(--color-bg-surface);
    border-color: var(--primary);
  }
}
.workout {
  display: flex;
  flex-direction: column;
  &__title {
    text-align: center;
    margin-bottom: 1rem;
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__name {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: var(--font-size-2xl);
  }
  &__info {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-m);
    span {
      font-weight: 600;
    }
  }
  &__time {
    text-align: center;
    font-size: var(--font-size-xl);
    span {
      color: var(--success);
    }
    &--last {
      span {
        color: hsl(42.06deg 100% 40%);
      }
    }
    &--stop {
      span {
        color: var(--warning);
      }
    }
  }
  // REPY
  &__reps {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  &__rep {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-surface);
    transition: 0.2s ease-in background;
    font-size: var(--font-size-m);
    &--current {
      background-color: var(--accent);
    }
    &--done {
      background-color: var(--primary);
      opacity: 0.5;
    }
  }
  &__btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    button {
      flex: 1;
    }
  }
}
