@use "../../../../../../styles.scss" as style;

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  &:not(.details--steps) {
    margin-top: 2rem;
  }
  &__top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__date {
    font-size: var(--font-size-l);
    font-weight: 600;
  }
  &__empty {
    font-size: var(--font-size-m);
    font-weight: 600;
    color: var(--color-text-secondary);
    text-align: center;
  }
}
.exercises {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-surface);
  border: none;
  padding-left: 2.1rem;
  position: relative;
  @include style.tablet {
    padding-left: 4.1rem;
  }
  &::before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 2rem;
    width: 0.1rem;
    height: calc(100% - 4rem);
    background-color: var(--primary);
    @include style.tablet {
      left: 2rem;
      top: 3rem;
      width: 0.1rem;
      height: calc(100% - 6rem);
    }
  }
  &__box {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.1rem;
        background-color: #372c3b;
      }
    }
    &--break {
      color: var(--accent);
      .exercises__name {
        &::before {
          background-color: var(--accent);
        }
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 1.2rem;
    @include style.tablet {
      gap: 0.5rem;
      margin-bottom: 1rem;
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    @include style.tablet {
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }
  &__name {
    font-size: var(--font-size-m);
    font-weight: 600;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -1.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      border-radius: 5rem;
      background-color: var(--primary);
      @include style.tablet {
        left: -2.5rem;
      }
    }
  }
}
.sets {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.control {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  &__btn {
    width: 100%;
  }
}
