.set {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  &__box {
    padding: 1rem;
    background-color: var(--color-bg-surface);
    border-radius: var(--border-radius-primary);
  }
  &__name {
    font-size: var(--font-size-l);
  }
}
.exercise {
  // background: rgba(74, 9, 121, 0.2);
  // border-radius: 16px;
  // backdrop-filter: blur(0.8rem);
  // -webkit-backdrop-filter: blur(0.8rem);
  // border: 1px solid rgba(100, 26, 217, 0.2);
  &__name {
    span {
      font-weight: 600;
    }
  }
}
.trainingDetails {
  padding: 1rem;
  background-color: var(--color-bg-surface);
  display: flex;
  width: 100%;
  border-radius: var(--border-radius-primary);
  height: max-content;
  background: rgba(74, 9, 121, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(0.8rem);
  -webkit-backdrop-filter: blur(0.8rem);
  border: 1px solid rgba(100, 26, 217, 0.2);
  &--steps {
    max-height: 55vh;
    overflow-y: auto;
  }
}
