.trainingDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  &:not(.trainingDetails--steps) {
    margin-top: 2rem;
  }
  &__top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__date {
    font-size: var(--font-size-l);
    font-weight: 600;
  }
  &__empty {
    font-size: var(--font-size-m);
    font-weight: 600;
    color: var(--color-text-secondary);
    text-align: center;
  }
}
.exercises {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-surface);
  border: none;
  padding-left: 4rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 2rem;
    top: 3rem;
    width: 0.1rem;
    height: calc(100% - 5rem);
    background-color: var(--primary);
  }
  &__box {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.1rem;
        background-color: #372c3b;
      }
    }
    &--break {
      color: var(--accent);
      .exercises__name {
        &::before {
          background-color: var(--accent);
        }
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  &__desc {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  &__name {
    font-size: var(--font-size-m);
    font-weight: 600;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -2.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      border-radius: 5rem;
      background-color: var(--primary);
    }
  }
  &__comment {
    color: var(--color-text-secondary);
    font-style: italic;
    i {
      font-size: var(--font-size-s);
    }
  }
}
.sets {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.control {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  &__btn {
    width: 100%;
  }
}
