@use "mixins" as m;

.panel {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  @include m.laptop {
    grid-template-columns: repeat(2, 1fr);
  }
  &__box {
    &--column {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @include m.laptop {
        gap: 2rem;
      }
    }
  }
}
