.workout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__wrapper {
    position: relative;
    background-color: var(--color-bg-secondary);
    padding: 1rem;
    border-radius: var(--border-radius-primary);
    gap: 1rem;
  }
}
.button {
  justify-content: center;
  &__control {
    background-color: var(--color-bg-secondary);
    &:hover {
      background-color: var(--color-bg-surface);
    }
  }
}
.sets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-surface);
    border-radius: var(--border-radius-primary);
    padding: 1rem;
    gap: 1rem;
    height: max-content;
  }
}
.--sets {
  align-items: center;
  width: max-content;
  button {
    aspect-ratio: 1;
  }
}
.button.--removeSet,
.button.--removeExercise {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  button {
    border-radius: 5rem;
    padding: 1.2rem;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: var(--warning);
    }
  }
}
.button.--removeSet {
  button {
    background-color: transparent;
    width: 32px;
    height: 32px;
    &:hover {
      background-color: var(--warning);
    }
  }
}
// Form
.form {
  display: flex;
  flex-direction: column;
  &__header {
    margin: 1rem 0;
  }
  &__group {
    display: flex;
    &--row {
      flex-direction: row;
      gap: 1rem;
    }
    &--column {
      flex-direction: column;
    }
  }
}

// inputy
.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: max-content;
  &:hover,
  &:focus,
  &:active {
    border-color: hsl(255deg 19.79% 42.19%);
  }
  &__label {
    position: absolute;
    color: var(--color-bg-surface);
    left: 2rem;
    top: 1.2rem;
    color: #fff;
    transition: 0.2s ease-in transform, 0.2s ease-in color,
      0.2s ease-in font-size;
    font-size: var(--font-size-base);
  }
  &__input {
    border: none;
    height: 5rem;
    border: 0.2rem solid hsl(250deg 20.58% 13.84%);
    background-color: hsl(255deg 17.54% 17.54%);
    color: #fff;
    border-radius: var(--border-radius-primary);
    padding: 1.2rem 1.6rem 0.2rem 1.6rem;
    outline: none;
    transition: 0.2s ease-in border-color;
    font-size: var(--font-size-base);
  }
  &__error {
    font-size: var(--font-size-xs);
    color: var(--warning);
  }
  &:hover,
  &:has(input:focus),
  &:has(input:active) {
    label {
      font-size: var(--font-size-xs);
      transform: translate(-14px, -10px);
    }
  }
  &.filled {
    label {
      color: var(--accent);
      font-size: var(--font-size-xs);
      transform: translate(-14px, -10px);
    }
  }
}
.input-field {
  &--checkbox {
    flex-direction: row-reverse;
    height: 2rem;
    gap: 1rem;
    width: max-content;
    align-items: center;
    label {
      position: initial;
    }
    input {
      width: 2rem;
    }
    &:hover,
    &:has(input:focus),
    &:has(input:active) {
      label {
        font-size: var(--font-size-base);
        transform: none;
      }
    }
    &.filled {
      label {
        color: var(--accent);
        font-size: var(--font-size-base);
        transform: none;
      }
    }
  }
}
