<h2 class="layout__header">Dodaj nowy trening</h2>
<form [formGroup]="planForm" class="form">
  <div
    class="input-field form__header"
    [class.filled]="planForm.get('name')?.value"
  >
    <label for="PlanName" class="input-field__label">Nazwa treningu</label>
    <input
      type="text"
      formControlName="name"
      required
      id="PlanName"
      class="input-field__input"
    />
    @if(planForm.get('name')?.invalid && planForm.get('name')?.touched){
    <div class="input-field__error">Nazwa treningu jest wymagana</div>
    }
  </div>
  <div class="workout" formArrayName="exercises">
    @for (exercise of exercisesArray.controls; track exercise; let i = $index) {
    <div class="workout__wrapper form__group form__group--column">
      <ng-container [formGroupName]="i">
        <div class="form__group form__group--row">
          <div class="input-field" [class.filled]="exercise.get('name')?.value">
            <label for="name-{{i}}" class="input-field__label"
              >Nazwa ćwiczenia</label
            >
            <input
              type="text"
              formControlName="name"
              required="true"
              id="name-{{i}}"
              class="input-field__input"
            />
            @if(exercise.get('name')?.invalid && exercise.get('name')?.touched){
            <div class="input-field__error">Nazwa ćwiczenia jest wymagana</div>
            }
          </div>
          <div
            class="input-field"
            [class.filled]="exercise.get('breakTime')?.value || exercise.get('breakTime')?.value === 0"
          >
            <label for="breakTime-{{i}}" class="input-field__label"
              >Przerwa między seriami (sek.)</label
            >
            <input
              type="number"
              formControlName="breakTime"
              required="true"
              id="breakTime-{{i}}"
              class="input-field__input"
            />
            @if(exercise.get('breakTime')?.invalid &&
            exercise.get('breakTime')?.touched){
            <div class="input-field__error">Czas przerwy jest wymagany</div>
            }@else if(exercise.get('breakTime')?.value === 0){
            <div class="input-field__error">Przerwa nie może wynosić 0</div>
            }
          </div>
        </div>
        <div class="input-field input-field--checkbox d-none">
          <label for="isBreak-{{i}}" class="input-field__label"
            >Czy przerwa</label
          >
          <input
            type="checkbox"
            formControlName="isBreak"
            id="isBreak-{{i}}"
            class="input-field__input"
          />
        </div>
        @if(!exercise.get('isBreak')?.value){
        <div formArrayName="sets" class="sets">
          @for (set of getSets(i).controls; track set; let j = $index) {
          <ng-container [formGroupName]="j">
            <div class="sets__box">
              <h3>Seria {{j + 1}}</h3>
              <div
                class="input-field"
                [class.filled]="set.get('repsCount')?.value || set.get('repsCount')?.value === 0"
              >
                <label for="repsCount-{{i}}-{{j}}" class="input-field__label"
                  >Powtórzenia</label
                >
                <input
                  type="number"
                  formControlName="repsCount"
                  required="true"
                  id="repsCount-{{i}}-{{j}}"
                  class="input-field__input"
                />
                @if(set.get('repsCount')?.invalid &&
                set.get('repsCount')?.touched){
                <div class="input-field__error">Powtórzenia są wymagane</div>
                }@else if(set.get('repsCount')?.value === 0){
                <div class="input-field__error">
                  Powtórzenia nie mogą wynosić 0
                </div>
                }
              </div>
              <div
                class="input-field"
                [class.filled]="set.get('weight')?.value || set.get('weight')?.value === 0"
              >
                <label for="weight-{{i}}-{{j}}" class="input-field__label"
                  >Ciężar</label
                >
                <input
                  type="text"
                  formControlName="weight"
                  id="weight-{{i}}-{{j}}"
                  class="input-field__input"
                />
              </div>
              <div class="button --removeSet">
                <button
                  type="button"
                  (click)="removeExerciseSet(i, j)"
                  class="button__control"
                >
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
            </div>
          </ng-container>
          }
          <div class="button --sets">
            <button
              type="button"
              (click)="addExerciseSetButton(i)"
              class="button__control"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
        }
      </ng-container>
      <div class="button --removeExercise">
        <button class="button__control" (click)="removeExercise(i)">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
    }
    <div class="button">
      <button
        type="button"
        (click)="addExercise('Nowe ćwiczenie', 120, false)"
        class="button__control"
      >
        Dodaj ćwiczenie
      </button>
      <button
        type="button"
        (click)="addExercise('Przerwa', 60, true)"
        class="button__control"
      >
        Dodaj Przerwę
      </button>
    </div>
  </div>
</form>
<div class="button mt-1">
  <button type="button" (click)="addPlanForm()" class="button__control">
    Dodaj plan
  </button>
</div>
