@use "../../../../styles.scss" as style;

.form {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 2rem;
  }
  &__estimatedTime {
    .ui-field__input {
      display: flex;
      gap: 1rem;
    }
  }
}
.exercise {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &--break {
      background-color: var(--accent-opacity);
    }
  }
  &__top {
    display: flex;
    gap: 2rem;
    width: calc(100% - 6.4rem);
  }
  &__remove {
    position: absolute;
    top: 2rem;
    right: 2rem;
    button {
      padding: 0;
      width: 4.7rem;
      height: 4.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.sets {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & > :last-child {
    margin-top: 1rem;
  }
  &__box {
    display: flex;
    gap: 2rem;
    background-color: var(--color-bg-surface);
    border: none;
    h3 {
      display: flex;
      align-items: center;
      min-width: 10rem;
    }
    .ui-field {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.6rem 1rem;
      align-items: center;
      &__label {
        font-size: var(--font-size-m);
      }
    }
  }
  &__add {
    display: flex;
    justify-content: center;
    // margin-top: 2rem;
    button {
      padding: 0;
      width: 4.7rem;
      height: 4.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__remove {
    position: relative;
    button {
      padding: 0;
      width: 4.7rem;
      height: 4.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.control {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  &__btn {
    width: 100%;
  }
}
.sumbit {
  &__btn {
    width: 100%;
  }
}
