<h2 class="layout__header">
  {{!existingPlan? "Dodaj nowy trening": "Edytuj plan"}}
</h2>
<form [formGroup]="planForm" class="form">
  <div class="form__header box">
    <div class="input-field" [class.filled]="planForm.get('name')?.value">
      <input
        type="text"
        formControlName="name"
        placeholder="Nazwa treningu"
        required
        id="PlanName"
        class="input-field__control"
      />
      @if(planForm.get('name')?.invalid && planForm.get('name')?.touched){
      <small class="input-field__error">Nazwa treningu jest wymagana</small>
      }
    </div>
    <div class="input-field" [class.filled]="planForm.get('day')?.value">
      <select
        formControlName="day"
        required
        id="PlanDay"
        class="input-field__input"
      >
        <option value="0">Nie przypisano</option>
        <option value="1">Poniedziałek</option>
        <option value="2">Wtorek</option>
        <option value="3">Środa</option>
        <option value="4">Czwartek</option>
        <option value="5">Piątek</option>
        <option value="6">Sobota</option>
        <option value="7">Niedziela</option>
      </select>
      @if(planForm.get('name')?.invalid && planForm.get('name')?.touched){
      <small class="input-field__error">Nazwa treningu jest wymagana</small>
      }
    </div>
    <div class="input-field" [class.filled]="planForm.get('name')?.value">
      <span>Szacowany czas:</span>
      <span>{{ planForm.get('estimatedTime')?.value }}</span>
    </div>
  </div>
  <div class="workout" formArrayName="exercises">
    @for (exercise of exercisesArray.controls; track exercise; let i = $index) {
    <div class="workout__wrapper box">
      <ng-container [formGroupName]="i">
        <div class="workout__top">
          <div class="input-field" [class.filled]="exercise.get('name')?.value">
            <input
              type="text"
              formControlName="name"
              required="true"
              id="name-{{i}}"
              class="input-field__control"
              placeholder="Nazwa ćwiczenia"
            />
            @if(exercise.get('name')?.invalid && exercise.get('name')?.touched){
            <small class="input-field__error"
              >Nazwa ćwiczenia jest wymagana</small
            >
            }
          </div>
          <div
            class="input-field"
            [class.filled]="exercise.get('breakTime')?.value || exercise.get('breakTime')?.value === 0"
          >
            <input
              type="number"
              formControlName="breakTime"
              required="true"
              id="breakTime-{{i}}"
              class="input-field__control"
              placeholder="Przerwa między seriami (sek.)"
            />
            @if(exercise.get('breakTime')?.invalid &&
            exercise.get('breakTime')?.touched){
            <small class="input-field__error">Czas przerwy jest wymagany</small>
            }@else if(exercise.get('breakTime')?.value === 0){
            <small class="input-field__error">Przerwa nie może wynosić 0</small>
            }
          </div>
        </div>
        <div
          class="input-field"
          [class.filled]="exercise.get('comment')?.value"
        >
          <textarea
            formControlName="comment"
            id="comment-{{i}}"
            class="input-field__input"
            placeholder="Komentarz do ćwiczenia"
          ></textarea>
        </div>
        <div class="input-field input-field--checkbox d-none">
          <label for="isBreak-{{i}}" class="input-field__label"
            >Czy przerwa</label
          >
          <input
            type="checkbox"
            formControlName="isBreak"
            id="isBreak-{{i}}"
            class="input-field__input"
          />
        </div>
        @if(!exercise.get('isBreak')?.value){
        <div formArrayName="sets" class="sets">
          @for (set of getSets(i).controls; track set; let j = $index) {
          <ng-container [formGroupName]="j">
            <div class="sets__box">
              <h3>Seria {{j + 1}}</h3>
              <div
                class="input-field"
                [class.filled]="set.get('repsCount')?.value || set.get('repsCount')?.value === 0"
              >
                <label for="repsCount-{{i}}-{{j}}" class="input-field__label"
                  >Powtórzenia</label
                >
                <input
                  type="number"
                  formControlName="repsCount"
                  required="true"
                  id="repsCount-{{i}}-{{j}}"
                  class="input-field__input"
                />
                @if(set.get('repsCount')?.invalid &&
                set.get('repsCount')?.touched){
                <div class="input-field__error">Powtórzenia są wymagane</div>
                }@else if(set.get('repsCount')?.value === 0){
                <div class="input-field__error">
                  Powtórzenia nie mogą wynosić 0
                </div>
                }
              </div>
              <div
                class="input-field"
                [class.filled]="set.get('weight')?.value || set.get('weight')?.value === 0"
              >
                <label for="weight-{{i}}-{{j}}" class="input-field__label"
                  >Ciężar</label
                >
                <input
                  type="text"
                  formControlName="weight"
                  id="weight-{{i}}-{{j}}"
                  class="input-field__input"
                />
              </div>
              <div class="button --removeSet">
                <button
                  type="button"
                  (click)="removeExerciseSet(i, j)"
                  class="button__control"
                >
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
            </div>
          </ng-container>
          }
          <div class="button --sets">
            <button
              type="button"
              (click)="addExerciseSetButton(i)"
              class="button__control"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
        }
      </ng-container>
      <div class="button --removeExercise">
        <button class="button__control" (click)="removeExercise(i)">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
    }
    <div class="button">
      <button
        type="button"
        (click)="addExercise('Nowe ćwiczenie', 120, false, '')"
        class="button__control"
      >
        Dodaj ćwiczenie
      </button>
      <button
        type="button"
        (click)="addExercise('Przerwa', 60, true, '')"
        class="button__control"
      >
        Dodaj Przerwę
      </button>
    </div>
  </div>
</form>
<div class="button mt-1">
  @if(!existingPlan){
  <button type="button" (click)="addPlanForm()" class="button__control">
    Dodaj plan
  </button>
  }@else{
  <button type="button" (click)="updateTraining()" class="button__control">
    Edytuj plan
  </button>
  }
</div>
