@import "../../../../styles.scss";

.workout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__wrapper {
    padding: 5.6rem 1rem 1rem 1rem;
    position: relative;
    background-color: var(--color-bg-secondary);
    border-radius: var(--border-radius-primary);
    gap: 1rem;
    @include tablet {
      padding: 1rem;
    }
  }
}
.button {
  justify-content: center;
  &__control {
    background-color: var(--color-bg-secondary);
    &:hover {
      background-color: var(--color-bg-surface);
    }
  }
}
.sets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-surface);
    border-radius: var(--border-radius-primary);
    padding: 1rem;
    gap: 1rem;
    height: max-content;
  }
}
.--sets {
  align-items: center;
  width: max-content;
  margin: 0 auto;
  @include tablet {
    margin: initial;
  }
  button {
    aspect-ratio: 1;
  }
}
.button.--removeSet,
.button.--removeExercise {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  button {
    border-radius: 5rem;
    padding: 1.2rem;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: var(--warning);
    }
  }
}
.button.--removeSet {
  button {
    background-color: transparent;
    width: 32px;
    height: 32px;
    &:hover {
      background-color: var(--warning);
    }
  }
}
// Form
.form {
  display: flex;
  flex-direction: column;
  &__header {
    margin: 1rem 0;
  }
  &__group {
    display: flex;
    &--row {
      flex-direction: column;
      gap: 1rem;
      @include tablet {
        flex-direction: row;
      }
    }
    &--column {
      flex-direction: column;
    }
  }
}
.form {
  &__header {
    display: flex;
    justify-content: space-between;
  }
}
