@use "../../../../styles.scss" as style;

.form {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    @include style.tablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
    }
  }
  &__estimatedTime {
    .ui-field__input {
      display: flex;
      gap: 1rem;
    }
  }
}
.exercise {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &--break {
      background-color: var(--accent-opacity);
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(100% - 5.8rem);
    @include style.tablet {
      flex-direction: row;
      gap: 2rem;
      width: calc(100% - 6.4rem);
    }
  }
  &__remove {
    position: absolute;
    top: 1rem;
    right: 1rem;
    @include style.tablet {
      top: 2rem;
      right: 2rem;
    }
    button {
      padding: 0;
      width: 4.7rem;
      height: 4.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.sets {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & > :last-child {
    margin-top: 1rem;
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-bg-surface);
    border: none;
    @include style.tablet {
      flex-direction: row;
      gap: 2rem;
    }
    h3 {
      display: flex;
      align-items: center;
      min-width: 10rem;
      margin: 0.6rem 0 0.6rem 0;
      @include style.tablet {
        margin: 0;
      }
    }
    .ui-field {
      display: grid;
      grid-template-columns: minmax(12rem, 1fr) 2fr;
      gap: 0.6rem 1rem;
      align-items: center;
      @include style.tablet {
        grid-template-columns: auto 1fr;
        gap: 0.6rem 1rem;
      }
      &__label {
        font-size: var(--font-size-m);
      }
    }
  }
  &__add {
    display: flex;
    justify-content: center;
    // margin-top: 2rem;
    button {
      padding: 0;
      width: 4.7rem;
      height: 4.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__remove {
    position: absolute;
    right: 1rem;
    top: 1rem;
    @include style.tablet {
      position: initial;
    }
    button {
      padding: 0;
      width: 4.2rem;
      height: 4.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @include style.tablet {
        width: 4.7rem;
        height: 4.7rem;
      }
    }
  }
}
.control {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  @include style.tablet {
    margin-top: 0;
  }
  &__btn {
    width: 100%;
  }
}
.sumbit {
  &__btn {
    width: 100%;
  }
}
