@use "../../../../styles.scss" as style;

// .workout {
//   display: flex;
//   flex-direction: column;
//   gap: 2rem;
//   &__wrapper {
//     padding: 5.6rem 1rem 1rem 1rem;
//     position: relative;
//     background-color: var(--color-bg-secondary);
//     border-radius: var(--border-radius-primary);
//     gap: 1rem;
//     @include tablet {
//       padding: 1rem;
//     }
//   }
// }
// .button {
//   justify-content: center;
//   &__control {
//     background-color: var(--color-bg-secondary);
//     &:hover {
//       background-color: var(--color-bg-surface);
//     }
//   }
// }
// .sets {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//   grid-gap: 2rem;
//   &__box {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     background-color: var(--color-bg-surface);
//     border-radius: var(--border-radius-primary);
//     padding: 1rem;
//     gap: 1rem;
//     height: max-content;
//   }
// }
// .--sets {
//   align-items: center;
//   width: max-content;
//   margin: 0 auto;
//   @include tablet {
//     margin: initial;
//   }
//   button {
//     aspect-ratio: 1;
//   }
// }
// .button.--removeSet,
// .button.--removeExercise {
//   position: absolute;
//   top: 0;
//   right: 0;
//   padding: 1rem;
//   button {
//     border-radius: 5rem;
//     padding: 1.2rem;
//     width: 36px;
//     height: 36px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     &:hover {
//       background-color: var(--warning);
//     }
//   }
// }
// .button.--removeSet {
//   button {
//     background-color: transparent;
//     width: 32px;
//     height: 32px;
//     &:hover {
//       background-color: var(--warning);
//     }
//   }
// }
// // Form
// .form {
//   display: flex;
//   flex-direction: column;
//   &__header {
//     margin-bottom: 1rem;
//     padding: 0.5rem;
//   }
//   &__group {
//     display: flex;
//     &--row {
//       flex-direction: column;
//       gap: 1rem;
//       @include tablet {
//         flex-direction: row;
//       }
//     }
//     &--column {
//       flex-direction: column;
//     }
//   }
// }
// .form {
//   &__header {
//     display: flex;
//     justify-content: space-between;
//   }
// }
// // .form {
// //   &__header {
// //     display: flex;
// //     flex-direction: row;
// //     justify-content: space-between;
// //     border-radius: var(--border-radius-primary);
// //     padding: 1rem;
// //     background: #4a097933;
// //     border-radius: 16px;
// //     backdrop-filter: blur(0.8rem);
// //     -webkit-backdrop-filter: blur(0.8rem);
// //     border: 1px solid #641ad933;
// //     margin-bottom: 2rem;
// //   }
// // }
// // .workout {
// //   display: flex;
// //   flex-direction: column;
// //   gap: 2rem;
// //   &__wrapper {
// //     border-radius: var(--border-radius-primary);
// //     padding: 1rem;
// //     background: #4a097933;
// //     border-radius: 16px;
// //     backdrop-filter: blur(0.8rem);
// //     -webkit-backdrop-filter: blur(0.8rem);
// //     border: 1px solid #641ad933;
// //   }
// // }
// // .input-field {
// //   display: flex;
// //   flex-direction: column;
// //   position: relative;
// //   width: 100%;
// //   &__input {
// //     background-color: transparent;
// //     color: var(--text-primary);
// //     padding: 1rem;
// //     border: none;
// //     font-size: var(--font-size-base);
// //     background: rgba(74, 9, 121, 0.2);
// //     border-radius: 12px;
// //     backdrop-filter: blur(0.8rem);
// //     -webkit-backdrop-filter: blur(0.8rem);
// //     border: 1px solid rgba(100, 26, 217, 0.2);
// //     position: relative;
// //   }
// // }
.form {
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem;
    gap: 1rem;
  }
}
.workout {
  display: flex;
  flex-direction: column;
  &__wrapper {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__top {
    display: flex;
    gap: 1rem;
  }
}
