@use "../../../../styles.scss" as style;

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  &__row {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include style.tablet {
      flex-direction: row;
    }
  }
  .ui-btn {
    max-width: 18rem;
    width: 100%;
    margin: 0 auto;
  }
}
