.apexcharts-tooltip-title,
.apexcharts-tooltip {
  background-color: var(--color-bg-secondary) !important;
  color: var(--color-text-secondary);
}
.apexcharts-xaxistooltip {
  display: none !important;
}
