// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

// html {
//   @include mat.theme(
//     (
//       color: (
//         primary: mat.$magenta-palette,
//         tertiary: mat.$violet-palette,
//       ),
//       typography: Roboto,
//       density: 0,
//     )
//   );
// }

// body {
//   // Default the application to a light color theme. This can be changed to
//   // `dark` to enable the dark color theme, or to `light dark` to defer to the
//   // user's system settings.
//   color-scheme: light;

//   // Set a default background, font and text colors for the application using
//   // Angular Material's system-level CSS variables. Learn more about these
//   // variables at https://material.angular.dev/guide/system-variables
//   background-color: var(--mat-sys-surface);
//   color: var(--mat-sys-on-surface);
//   font: var(--mat-sys-body-medium);

//   // Reset the user agent margin.
//   margin: 0;
// }

// ===== Style MatSnackbar =====
.snackbar {
  .mdc-snackbar {
    &__surface {
      border-radius: var(--border-radius-primary) !important;
    }
    &__label {
      font-size: var(--font-size-m) !important;
      text-align: center !important;
    }
  }
  &--success {
    .mdc-snackbar__surface {
      background-color: var(--success) !important;
    }
  }
  &--warning {
    .mdc-snackbar__surface {
      background-color: var(--warning) !important;
    }
  }
}
// ===== Style MatDialog =====
.mat-mdc-dialog-surface {
  padding: 1rem;
  background-color: var(--color-bg-secondary) !important;
  color: var(--color-text-primary) !important;
  border: none;
  border-radius: var(--border-radius-primary) !important;
  @media (min-width: 480px) {
    padding: 2rem;
  }
  @media (min-width: 768px) {
    padding: 3rem;
  }
  .ui-dialog {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    &__subtitle {
      color: var(--color-text-secondary);
      margin-top: 0.5rem;
    }
    &__error {
      color: var(--warning);
      background-color: var(--warning-opacity);
      border: 1px solid var(--warning);
      padding: 1rem;
      border-radius: var(--border-radius-primary);
      text-align: center;
    }
  }
}
