.button {
  &.active {
    button {
      background: var(--secondary);
    }
  }
}
.history {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &:not(:last-child) {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: var(--color-bg-surface);
    }
  }
  &__value {
    font-weight: 600;
  }
}
.exercise {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__box {
    background-color: var(--color-bg-surface);
    padding: 1rem;
    border-radius: var(--border-radius-primary);
    &--break {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
      color: var(--accent);
    }
  }
}
