@use "../../../../styles.scss" as style;

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  @include style.tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include style.laptop {
    grid-template-columns: repeat(3, 1fr);
  }
  @include style.desktop {
    grid-template-columns: repeat(4, 1fr);
  }
  @include style.xlDesktop {
    grid-template-columns: repeat(5, 1fr);
  }
  &__btn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: var(--color-bg-secondary);
    border: 1px solid var(--border-color);
    &--active {
      background-color: var(--color-btn-secondary);
      &::before {
        height: 0.4rem;
        box-shadow:
          rgb(128, 41, 221) 0px 0px 5px,
          rgb(150, 80, 235) 0px 0px 15px,
          rgb(170, 120, 245) 0px 0px 30px,
          rgb(190, 160, 255) 0px 0px 60px;
        background: rgb(90, 30, 160);
      }
    }
  }
}

.history {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  &__top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__date {
    font-size: var(--font-size-l);
    font-weight: 600;
  }
  &__empty {
    font-size: var(--font-size-m);
    font-weight: 600;
    color: var(--color-text-secondary);
    text-align: center;
  }
}
.exercises {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-surface);
  border: none;
  padding-left: 2.1rem;
  position: relative;
  @include style.tablet {
    padding-left: 4.1rem;
  }
  &::before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 2rem;
    width: 0.1rem;
    height: calc(100% - 4rem);
    background-color: var(--primary);
    @include style.tablet {
      left: 2rem;
      top: 3rem;
      width: 0.1rem;
      height: calc(100% - 6rem);
    }
  }
  &__box {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.1rem;
        background-color: #372c3b;
      }
    }
    &--break {
      color: var(--accent);
      .exercises__name {
        &::before {
          background-color: var(--accent);
        }
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 1.2rem;
    @include style.tablet {
      gap: 0.5rem;
      margin-bottom: 1rem;
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    @include style.tablet {
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }
  &__name {
    font-size: var(--font-size-m);
    font-weight: 600;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -1.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      border-radius: 5rem;
      background-color: var(--primary);
      @include style.tablet {
        left: -2.5rem;
      }
    }
  }
  &__comment {
    color: var(--color-text-secondary);
    font-style: italic;
    i {
      font-size: var(--font-size-s);
    }
  }
}
.sets {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
