.timer {
  &__time {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__list--header {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: var(--border-radius-secondary);
    background-color: var(--color-bg-surface);
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: max-content;
    max-height: 700px;
    overflow-y: auto;
  }
}
