.timer {
  &__center {
    display: flex;
    justify-content: center;
    margin-bottom: 3.2rem;
  }
  &__time {
    width: max-content;
    text-align: center;
    font-size: 4.2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    span {
      &:first-child {
        font-weight: bold;
        background: linear-gradient(
          135deg,
          hsl(270, 76%, 69%),
          hsl(280, 55%, 42%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:last-child {
        font-size: var(--font-size-xl);
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__list--header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem;
    div {
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: end;
      }
    }
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    border-radius: var(--border-radius-secondary);
    background-color: var(--color-bg-surface);
    div {
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: end;
      }
    }
    &--break {
      background-color: var(--primary);
    }
    &--inProgress {
      display: flex;
      justify-content: center;
      background-color: var(--color-bg-primary);
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 75vh;
    height: max-content;
    overflow-y: auto;
  }
}
